In [1]:
#APPLYING FUNCTIONS ON COLUMNS

In [2]:
#apply() method is used to broadcast a function to columns

In [3]:
#lets read a df first

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("Iris.csv")

In [6]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
#Create a new column that stores length of species name

In [8]:
df["lenspec_name"]=df["Species"].apply(len)

In [9]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,lenspec_name
0,1,5.1,3.5,1.4,0.2,Iris-setosa,11
1,2,4.9,3.0,1.4,0.2,Iris-setosa,11
2,3,4.7,3.2,1.3,0.2,Iris-setosa,11
3,4,4.6,3.1,1.5,0.2,Iris-setosa,11
4,5,5.0,3.6,1.4,0.2,Iris-setosa,11
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,14
146,147,6.3,2.5,5.0,1.9,Iris-virginica,14
147,148,6.5,3.0,5.2,2.0,Iris-virginica,14
148,149,6.2,3.4,5.4,2.3,Iris-virginica,14
149,150,5.9,3.0,5.1,1.8,Iris-virginica,14

In [10]:
#Create a function that takes a number and returns number multiplied by 3

In [11]:
#using apply method, create a new column that contains the doubled sepal
#length

In [12]:
def times2(num):
    return num*2

In [13]:
df["sepallength2"]=df["SepalLengthCm"].apply(times2)

In [14]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,lenspec_name,sepallength2
0,1,5.1,3.5,1.4,0.2,Iris-setosa,11,10.2
1,2,4.9,3.0,1.4,0.2,Iris-setosa,11,9.8
2,3,4.7,3.2,1.3,0.2,Iris-setosa,11,9.4
3,4,4.6,3.1,1.5,0.2,Iris-setosa,11,9.2
4,5,5.0,3.6,1.4,0.2,Iris-setosa,11,10.0
...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,14,13.4
146,147,6.3,2.5,5.0,1.9,Iris-virginica,14,12.6
147,148,6.5,3.0,5.2,2.0,Iris-virginica,14,13.0
148,149,6.2,3.4,5.4,2.3,Iris-virginica,14,12.4
149,150,5.9,3.0,5.1,1.8,Iris-virginica,14,11.8

In [15]:
#SO apply method can be used to broadcast inbuilt/user-defined function
#to each value in a particular column

In [ ]:
#combination of apply() and lambda function can also be used