In [22]:
#DATA CLEANING

In [23]:
#data cleaning means fixing bad data in our dataset.
#bad data could be:

In [24]:
#data in wrong format
#empty cells
#wrong data
#duplicates

In [25]:
#dealing with empty cells

In [26]:
import pandas as pd

In [27]:
df=pd.read_csv("Iris.csv")

In [28]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [29]:
df["additional_data"]=None

In [30]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,additional_data
0,1,5.1,3.5,1.4,0.2,Iris-setosa,None
1,2,4.9,3.0,1.4,0.2,Iris-setosa,None
2,3,4.7,3.2,1.3,0.2,Iris-setosa,None
3,4,4.6,3.1,1.5,0.2,Iris-setosa,None
4,5,5.0,3.6,1.4,0.2,Iris-setosa,None
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,None
146,147,6.3,2.5,5.0,1.9,Iris-virginica,None
147,148,6.5,3.0,5.2,2.0,Iris-virginica,None
148,149,6.2,3.4,5.4,2.3,Iris-virginica,None
149,150,5.9,3.0,5.1,1.8,Iris-virginica,None

In [17]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,additional_data
0,1,5.1,3.5,1.4,0.2,Iris-setosa,None
1,2,4.9,3.0,1.4,0.2,Iris-setosa,None
2,3,4.7,3.2,1.3,0.2,Iris-setosa,None
3,4,4.6,3.1,1.5,0.2,Iris-setosa,None
4,5,5.0,3.6,1.4,0.2,Iris-setosa,None
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,None
146,147,6.3,2.5,5.0,1.9,Iris-virginica,None
147,148,6.5,3.0,5.2,2.0,Iris-virginica,None
148,149,6.2,3.4,5.4,2.3,Iris-virginica,None
149,150,5.9,3.0,5.1,1.8,Iris-virginica,None

In [33]:
df["add"]=""

In [34]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,additional_data,add
0,1,5.1,3.5,1.4,0.2,Iris-setosa,None,
1,2,4.9,3.0,1.4,0.2,Iris-setosa,None,
2,3,4.7,3.2,1.3,0.2,Iris-setosa,None,
3,4,4.6,3.1,1.5,0.2,Iris-setosa,None,
4,5,5.0,3.6,1.4,0.2,Iris-setosa,None,
...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,None,
146,147,6.3,2.5,5.0,1.9,Iris-virginica,None,
147,148,6.5,3.0,5.2,2.0,Iris-virginica,None,
148,149,6.2,3.4,5.4,2.3,Iris-virginica,None,
149,150,5.9,3.0,5.1,1.8,Iris-virginica,None,

In [36]:
#replace the empty values by a number

In [37]:
df.fillna(123)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,additional_data,add
0,1,5.1,3.5,1.4,0.2,Iris-setosa,123,
1,2,4.9,3.0,1.4,0.2,Iris-setosa,123,
2,3,4.7,3.2,1.3,0.2,Iris-setosa,123,
3,4,4.6,3.1,1.5,0.2,Iris-setosa,123,
4,5,5.0,3.6,1.4,0.2,Iris-setosa,123,
...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,123,
146,147,6.3,2.5,5.0,1.9,Iris-virginica,123,
147,148,6.5,3.0,5.2,2.0,Iris-virginica,123,
148,149,6.2,3.4,5.4,2.3,Iris-virginica,123,
149,150,5.9,3.0,5.1,1.8,Iris-virginica,123,

In [38]:
df["add1"]=None
df["add2"]=None

In [39]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,additional_data,add,add1,add2
0,1,5.1,3.5,1.4,0.2,Iris-setosa,None,,None,None
1,2,4.9,3.0,1.4,0.2,Iris-setosa,None,,None,None
2,3,4.7,3.2,1.3,0.2,Iris-setosa,None,,None,None
3,4,4.6,3.1,1.5,0.2,Iris-setosa,None,,None,None
4,5,5.0,3.6,1.4,0.2,Iris-setosa,None,,None,None
...,...,...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,None,,None,None
146,147,6.3,2.5,5.0,1.9,Iris-virginica,None,,None,None
147,148,6.5,3.0,5.2,2.0,Iris-virginica,None,,None,None
148,149,6.2,3.4,5.4,2.3,Iris-virginica,None,,None,None
149,150,5.9,3.0,5.1,1.8,Iris-virginica,None,,None,None

In [40]:
df["add1"].fillna(12,inplace=True)

In [41]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,additional_data,add,add1,add2
0,1,5.1,3.5,1.4,0.2,Iris-setosa,None,,12,None
1,2,4.9,3.0,1.4,0.2,Iris-setosa,None,,12,None
2,3,4.7,3.2,1.3,0.2,Iris-setosa,None,,12,None
3,4,4.6,3.1,1.5,0.2,Iris-setosa,None,,12,None
4,5,5.0,3.6,1.4,0.2,Iris-setosa,None,,12,None
...,...,...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,None,,12,None
146,147,6.3,2.5,5.0,1.9,Iris-virginica,None,,12,None
147,148,6.5,3.0,5.2,2.0,Iris-virginica,None,,12,None
148,149,6.2,3.4,5.4,2.3,Iris-virginica,None,,12,None
149,150,5.9,3.0,5.1,1.8,Iris-virginica,None,,12,None

In [43]:
df.drop("add",axis=1,inplace=True)

In [44]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,additional_data,add1,add2
0,1,5.1,3.5,1.4,0.2,Iris-setosa,None,12,None
1,2,4.9,3.0,1.4,0.2,Iris-setosa,None,12,None
2,3,4.7,3.2,1.3,0.2,Iris-setosa,None,12,None
3,4,4.6,3.1,1.5,0.2,Iris-setosa,None,12,None
4,5,5.0,3.6,1.4,0.2,Iris-setosa,None,12,None
...,...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,None,12,None
146,147,6.3,2.5,5.0,1.9,Iris-virginica,None,12,None
147,148,6.5,3.0,5.2,2.0,Iris-virginica,None,12,None
148,149,6.2,3.4,5.4,2.3,Iris-virginica,None,12,None
149,150,5.9,3.0,5.1,1.8,Iris-virginica,None,12,None

In [45]:
#replacing using mean

In [46]:
df.iloc[0,6]=3

In [49]:
df.iloc[1,6]=4

In [50]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,additional_data,add1,add2
0,1,5.1,3.5,1.4,0.2,Iris-setosa,3,12,None
1,2,4.9,3.0,1.4,4.0,Iris-setosa,4,12,None
2,3,4.7,3.2,1.3,0.2,Iris-setosa,None,12,None
3,4,4.6,3.1,1.5,0.2,Iris-setosa,None,12,None
4,5,5.0,3.6,1.4,0.2,Iris-setosa,None,12,None
...,...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,None,12,None
146,147,6.3,2.5,5.0,1.9,Iris-virginica,None,12,None
147,148,6.5,3.0,5.2,2.0,Iris-virginica,None,12,None
148,149,6.2,3.4,5.4,2.3,Iris-virginica,None,12,None
149,150,5.9,3.0,5.1,1.8,Iris-virginica,None,12,None

In [ ]:
x=df["additional_data"].mean()